<div class="cap-statement-container">
    <div class="cap-statement-sub-container">
        <h1 class="cap-statement-header">Create New Capability Statement</h1>
        <h2 class="cap-statement-sub-header">Powered by AI – Generate your capability statement in seconds.</h2>
        <div class="form-container">
            <%= render 'form' %>
        </div>
    </div>
</div>
